#counter{
    background-color: #95e1d3;
    .col-lg{
        padding: 0;
    }
    .counter_text{
        padding: 70px 0;
        span{
            font-size: 72px;
            font-weight: bold;
            color: white;
        }
        h6{
            font-size: 14px;
            color: #fff;
        }
    }
}